p{
    margin-left: 10px
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 1px solid #3ea3f4;
    color: #ffffff;
    background-color: #3ea3f4;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }